.page.theme_dark {
  /* Backgrounds */
  --color-main-bg: var(--clr-midnight, #000028);
  --image-cover-bg: url(../images/cover-image-dark.png);
  --color-accent-bg: var(--clr-retro-pink-pop, #ff0070);

  /* Text colours */
  --color-main-text: var(--clr-bunny-cake, #f1b2ce);
  --color-title-text: var(--clr-psychedelic-purple, #db00ff);
  --color-contrast-text: var(--clr-retro-pink-pop, #ff0070);
  --color-accent-text: var(--clr-midnight, #000028);

  /* Text shadows */
  --color-text-shadow: var(--clr-retro-pink-pop, #ff0070);

  /* Border colours */
  --color-main-border: var(--clr-retro-pink-pop, #ff0070);
  --color-link-border: var(--clr-bunny-cake, #f1b2ce);
  --color-transparent-border: var(
    --clr-pink-transparent,
    rgba(255, 0, 112, 0.4)
  );
}
